<html>
<head>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

<div class="uk-margin-small">
    <div class="uk-button-group">
        <button class="uk-button uk-button-primary" id="off" v-on:click="onClick">Ki</button>
        <button class="uk-button uk-button-primary" id="on" v-on:click="onClick">Be</button>
    </div>
</div>
<div class="uk-margin-small">
    <input id="range" class="uk-range" type="range" min="0" max="255" step="1" v-on:change="onChange">
</div>

<script>

var app1 = new Vue({
  el: '#off',
  data: {
    message: 'Kikapcsol'
  },
  methods: {
    onClick: function () {
      switchLed(false);
    }
  }	
})

var app2 = new Vue({
  el: '#on',
  data: {
    message: 'Bekapcsol'
  },
  methods: {
    onClick: function () {
      switchLed(true);
    }
  }	
})

var app2 = new Vue({
	  el: '#range',
	  methods: {
	    onChange: function () {
	      var v = this.$el.value;
	      axios
	        .get('https://pgy.no-ip.hu/exec/?command=magic-home+color+192.168.1.5+' + v + '+' + v + '+' + v);
	      
	    }
	  }	
	})

function switchLed(b) {
  var v = (b ? 'on' : 'off');
  axios
    .get('https://pgy.no-ip.hu/exec/?command=magic-home+'+v+'+192.168.1.5');
}

</script>

</body>

</html>
