<html>
<head>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

<link rel="stylesheet" href="/resources/css/style.css" />


<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

<div id="app" class="uk-margin-large-left uk-margin-large-right">
	<div class="uk-margin-large-top">
	    <div class="uk-button-group">
	        <button class="uk-button uk-button-primary" v-on:click="switchLedOld(false)">Ki</button>
	        <button class="uk-button uk-button-primary" v-on:click="switchLedOld(true)">Be</button>
	    </div>
	</div>
		<div class="uk-margin-large-top">
	    <div class="uk-button-group">
	        <button class="uk-button uk-button-primary" v-on:click="switchLed(false)">Ki</button>
	        <button class="uk-button uk-button-primary" v-on:click="switchLed(true)">Be</button>
	    </div>
	</div>
	<div class="uk-margin-small-top">
	   <div class="uk-button-group">
	        <button class="uk-button uk-button-primary" v-on:click="changeValue(1)">1</button>
	        <button class="uk-button uk-button-primary" v-on:click="changeValue(31)">2</button>
	        <button class="uk-button uk-button-primary" v-on:click="changeValue(127)">3</button>
	        <button class="uk-button uk-button-primary" v-on:click="changeValue(255)">4</button>
	    </div>
	</div>
	<div class="uk-margin-large-top">
	    <input v-model="myValue" class="uk-range" type="range" min="0" max="255" step="1" v-on:change="onChangeValue">
	</div>
	
	<div class="uk-margin-large-top">
		<a class="weatherwidget-io" href="https://forecast7.com/hu/47d5019d04/budapest/" data-label_1="BUDAPEST" data-label_2="WEATHER" data-theme="original" >BUDAPEST WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
	</div>
</div>

<script>

var url = 'https://pgy.no-ip.hu/';

var app = new Vue({
  el: '#app',
  data: {
	myValue: 150  
  },
  watch: {
	  'myValue': function(val, oldVal) {
		  this.val = val;
	  }
  },
  methods: {
    switchLed: function (b) {
     	  var v = (b ? 'on' : 'off');
     	  axios
     	    .get(url + 'magichome/' + v);
    },
    switchLedOld: function (b) {
   	  var v = (b ? 'on' : 'off');
   	  axios
   	    .get(url + 'exec/?command=/home/pi/n/bin/magic-home+' + v + '+192.168.1.5');
    },
    onChangeValue: function() {
    	this.changeValue(this.val);
    },
    changeValue: function(v) {
      axios.get(url + 'exec/?command=/home/pi/n/bin/magic-home+' + 'color+192.168.1.5+' + v + '+' + v + '+' + v);
    }
  }
})

</script>

</body>

</html>
